{{ define "sidebar" }}
	<aside id="sidebar">
		<div class="section">
			<h1>Date</h1>
			<time class="time" datetime="{{ .PublishDate }}">{{ .PublishDate | time.Format ":date_long" }}</time>
		</div>
		
		<div class="section">
			<h1>Index</h1>
			{{ range .Params.Index }}
				<a href="{{ "/index/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
		</div>
	</aside>
{{ end }}

{{ define "main" }}
	<article class="single">
		{{ with .Parent }}<a class="parent" href="{{ .Permalink }}" title="Lire toutes les notes de la rubrique « {{ .Title }} »">{{ .Title }}</a>{{ end }}
	
		<h1 class="title">{{ .Title | markdownify }}</h1>
		
		<div class="content">
			{{ .Content }}
		</div>
	</article>
{{ end }}

