{{ define "main" }}
{{ $pages := where (where .RegularPages "Type" "!=" "page") "Params.Hidden" "!=" true }}

<div class="heading">
	<h1 class="title">{{ with .Parent }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}&nbsp;>&nbsp;{{ .Title }}</h1>
	<!-- TODO Parent in a bubble, add the same bubble in section and single pages. -->
	{{ with .Description }}<p class="description">{{ . }}</p>{{ end }}
</div>

{{ range .Pages.GroupByDate "2006" }}
<div class="section">
	<div class="heading">
		<h2 class="subtitle" id="{{ .Key }}">{{ .Key }}</h2>
	</div>
	
	<div class="list">
		{{ range .Pages }}
		<div class="item">
			<h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify }}</a></h3>
			<time datetime="{{ .PublishDate }}">{{ .PublishDate | time.Format ":date_short" }}</time>
		</div>
		{{ end }}
	</div>
</div>
{{ end }}
{{ end }}
