{{ define "main" }}
<div class="section">
	<div class="heading">
		<h1 class="title">{{ .Title }}</h1>
		{{ with .Description }}<p class="description">{{ . }}</p>{{ end }}
	</div>
	
	<div class="list">
		{{ range .Pages.ByTitle }}
		{{ $length := len .Pages }}
		<div class="item">
			<h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify }}</a></h3>
			<time datetime="{{ .PublishDate }}">{{ $length }} {{ T "note" $length }}</time>
		</div>
		{{ end }}
	</div>
</div>
{{ end }}
