{{ if .IsHome }}
	<h1 class="title"><span class="logo">{{ .Site.Title }}</span></h1>
{{ else }}
	<h1 class="title"><a class="logo" href="{{ "/" | absURL }}" title="Revenir à la page dʼaccueil de {{ .Site.Title }}">{{ .Site.Title }}</a></h1>
{{ end }}

<nav class="menu">
{{ $currentPage := . }}
{{ range site.Menus.header }}
	{{ if $currentPage.IsMenuCurrent .Menu . }}
	{{ $section := .Identifier }}
	<a class="active item" aria-current="page" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}<span class="count">{{ with $.Site.GetPage "section" $section }}{{ len (where $.Site.RegularPages "Section" $section) }}{{ end }}</span></a>
	{{ else if $currentPage.HasMenuCurrent .Menu . }}
	{{ $section := .Identifier }}
	<a class="active item" aria-current="true" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}<span class="count">{{ with $.Site.GetPage "section" $section }}{{ len (where $.Site.RegularPages "Section" $section) }}{{ end }}</span></a>
	{{ else }}
	{{ $section := .Identifier }}
	<a class="item" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}<span class="count">{{ with $.Site.GetPage "section" $section }}{{ len (where $.Site.RegularPages "Section" $section) }}{{ end }}</span></a>
	{{ end }}
{{ end }}
</nav>